<div id="container">
<div id="showcart">
<% if(@user != nil) %>
<%= image_tag(@user.img_url,:class => "list_image_user_photo") %><br/>
<b><%= @user.name %></b><br/>
<% if @user.id == 1 %>You are the admin <%= link_to "Admin page", admin_path%><% end %> 
<br/><%= link_to "Logout", logout_path, :method => :delete %>

<% else %>
Not logged in. Accounts to log in:<br/>
Username : admin Pass : 123456<br/>
Username : testuser Pass : 123456<br>
<%= link_to "Login here", login_path %>
<% end %>
<%= image_tag("cart.png",:class => "cart_image") %>
<% unless @cart.line_foods.empty? %>
<table>
    <% @cart.line_foods.each do |line| %>
    <tr>
        <td><%= image_tag(line.food.img_url,:class => "list_image_small") %></td>
        <td><b><%= line.food.name %></b><br/>
        Quantity : <%= line.quantity %></td>
    </tr>
    <% end %>
</table>
Total price : <b>$<%= @cart.total_price %></b>
<% if @cart.total_price > 200 %>
<br/>YOU ARE GREAT!!!!!
<%  end %>
<%= button_to "CHECKOUT", new_order_path, :method => :get %>
<%= button_to 'EMPTY YOUR CART', @cart, :method => :delete, :confirm => 'Empty your cart?' %>
<% else %>
Your cart is currently EMPTY!<br/>You need foods! Please buy something!
<% end %>
</div>
<div id="food_list" class="food_list_home">
<table>
<% @foods.each do |food| %>
    <tr class="list_line">
    <td><div><%= image_tag(food.img_url,:class => "list_image") %></div></td>
    <td class = "list_description">
      <dl>
        <dt><%= link_to food.name, food %></dt>
        <dd>Price : $<%=  food.price %>
        <%= button_to "Art to cart", line_foods_path(:food_id => food) %>
        <br/><%= truncate(food.desc, :length => 50) %>  <%= link_to 'Show detail', food %></dd><br/>
      </dl>
    </td>
    <td class="feedback">
    <b>Feedback(demo)</b><br/>
    Price:<div id="back"><div id="onback" style="width: <%= 120+rand(80) %>px"></div></div>
    Quality:<div id="back"><div id="onback" style="width: <%= 120+rand(80) %>px"></div></div>
    Frequence:<div id="back"><div id="onback" style="width: <%= 120+rand(80) %>px"></div></div>
    </td>
    </tr>
<% end %>
</table>
<br />
</div>
</div>