<h1>Listing line_foods</h1>

<table>
  <tr>
    <th>Food</th>
    <th>Cart</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @line_foods.each do |line_food| %>
  <tr>
    <td><%= line_food.food_id %></td>
    <td><%= line_food.cart_id %></td>
    <td><%= link_to 'Show', line_food %></td>
    <td><%= link_to 'Edit', edit_line_food_path(line_food) %></td>
    <td><%= link_to 'Destroy', line_food, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Line food', new_line_food_path %>
